<a href="https://colab.research.google.com/github/Prakhar-Mangal/Data-Science-and-Machine-Learning/blob/master/%234_Saving_Model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Save Model Using Joblib And Pickle 

---

In [0]:
import pandas as pd
import matplotlib.pyplot as plt 
from sklearn import linear_model

In [2]:
url = 'https://raw.githubusercontent.com/codebasics/py/master/ML/2_linear_reg_multivariate/homeprices.csv'
df = pd.read_csv(url)
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [3]:
df['bedrooms'].median()

4.0

In [4]:
df['bedrooms'].fillna(df['bedrooms'].median(), inplace=True)
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [5]:
df[['area','bedrooms','age']] # Select specified coloumns

   area  bedrooms  age
0  2600       3.0   20
1  3000       4.0   15
2  3200       4.0   18
3  3600       3.0   30
4  4000       5.0    8
5  4100       6.0    8

In [6]:
df.drop('price', axis=1)

   area  bedrooms  age
0  2600       3.0   20
1  3000       4.0   15
2  3200       4.0   18
3  3600       3.0   30
4  4000       5.0    8
5  4100       6.0    8

In [7]:
reg = linear_model.LinearRegression()
reg.fit(df.drop('price', axis=1),df['price'])

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [8]:
reg.coef_

array([  112.06244194, 23388.88007794, -3231.71790863])

In [9]:
reg.intercept_

221323.00186540396

In [10]:
reg.predict([[3000, 3, 40]])

array([498408.25158031])

## Saving Model

In [0]:
# using pickle
import pickle 

# save the model to disk
pickle.dump(reg, open('model_pickle','wb'))

In [17]:
# load the model from disk
mp = pickle.load(open('model_pickle','rb'))
mp.coef_

array([  112.06244194, 23388.88007794, -3231.71790863])

In [18]:
mp.predict([[3000, 3, 40]])

array([498408.25158031])

In [20]:
# using joblib 
from sklearn.externals import joblib 

# load the model from disk
joblib.dump(reg, 'model_joblib')

/usr/local/lib/python3.6/dist-packages/sklearn/externals/joblib/__init__.py:15: FutureWarning: sklearn.externals.joblib is deprecated in 0.21 and will be removed in 0.23. Please import this functionality directly from joblib, which can be installed with: pip install joblib. If this warning is raised when loading pickled models, you may need to re-serialize those models with scikit-learn 0.21+.
  warnings.warn(msg, category=FutureWarning)

['model_joblib']

In [21]:
mj = joblib.load('model_joblib')
mj.coef_

array([  112.06244194, 23388.88007794, -3231.71790863])

In [22]:
mj.predict([[3000, 3, 40]])

array([498408.25158031])